.reklam-card__img {
    img {
        transform: scale(2.7);
    }
}

.reklam-card__container {
    margin: 30px 0;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 30px;
}

.birinchi{
    background-image: linear-gradient(0deg, #31384d 9%, #616884 50%);
    transition: all .3s ease;
}

.ikkinchi{
    background-image: linear-gradient(0deg, #2e2549 9%, #625686 50%);
    transition: all .3s ease;
}

.uchinchi{
    background-image: linear-gradient(0deg, #224f4d 9%, #307e7a 50%);
    transition: all .3s ease;
}

.birinchi:hover, .ikkinchi:hover, .uchinchi:hover{
    box-shadow: 0px 10px 20px 5px rgba(255, 0, 0, 0.2);
}

.garandiya {
    h1 {
        font-size: 100px;
        font-weight: 700;
        color: #fff;
    }

    h3 {
        font-size: 24px;
        color: #fff;
        font-weight: 600;
    }
}

.reklam-card__info {
    h2 {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    button {
        background-color: #fff;
        border: none;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 700;
    }
}

@media(max-width:576px){
    .reklam-card__container{
        margin: 10px 0;
    }
    .reklam-card__img{
        img{
            transform: scale(1.4) !important;
            position: relative;
            top: -35px;
        }
    }
}

@media(max-width:992px){
    .reklam-card__img{
        img{
            transform: scale(1.3);
            position: relative;
            top: -30px;
        }
    }
    .garandiya{
        margin-top: 10px;
    }
}

@media(max-width:1200px){
    .reklam-card__img{
        img{
            transform: scale(1);
            position: relative;
            top: -30px;
        }
    }
    .garandiya{
        text-align: center !important;

    }

    .reklam-card__info{
        text-align: center;
    }
}