.hero-section__text{
    margin-left: 10px;
    h6{
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -.3px;
        margin-bottom: 0px;
    }
    p{
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -.5px;
        margin-bottom: 0;
        color: #aaa;
    }
}

